# PANDAS PRACTICE
@Dannelmlj

## Loading data into Pandas

In [2]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

print(df.head(4))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk
0  1              Bulbasaur  Grass  Poison  45      49       49       65  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

## Reading data

In [31]:
# Read Headers
print ("Read Headers: ")
print(df.columns)

Read Headers:
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [30]:
# Read each column
print ("Read Each Column:")
df['Name'][0:10]

Read Each Column:

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [29]:
# Read multiple columns
print ("Read multiple columns:")
df[['Name', 'HP', 'Generation']][0:5]

Read multiple columns:

                    Name  HP  Generation
0              Bulbasaur  45           1
1                Ivysaur  60           1
2               Venusaur  80           1
3  VenusaurMega Venusaur  80           1
4             Charmander  39           1

In [10]:
# Read each row
print ("Read each row:")
print(df.iloc[3])

Read each row:
#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

In [28]:
# Query Specific location
print ("Query 2nd element of the 1st row:")
df.iloc[0,1]

Query 2nd element of the 1st row:

'Bulbasaur'

In [10]:
# Iterating rows


df['Name'] = df['Name'].apply(lambda x: x.lower())
df['Name']

# for i, row in df.iterrows():
#     print(i,row['Name'])

0                  bulbasaur
1                    ivysaur
2                   venusaur
3      venusaurmega venusaur
4                 charmander
               ...
795                  diancie
796      dianciemega diancie
797      hoopahoopa confined
798       hoopahoopa unbound
799                volcanion
Name: Name, Length: 800, dtype: object

In [37]:
# Loc
df.loc[df['Generation'] == 1]
df.loc[(df['Generation'] == 1) & (df['Type 1'] == "Fire")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True

## Sort and Describing data

In [39]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [40]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [43]:
df.sort_values(['Type 1', 'Attack'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

## Manipulating Data

In [47]:
df['Average Stats'] = (df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']) / 6
df.sort_values(['Average Stats'], ascending=0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Average Stats
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,130.000000
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,130.000000
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,130.000000
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,128.333333
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,128.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,32.500000
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False,32.500000
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False,32.333333
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,31.666667
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,30.000000

In [55]:
# Dropping
df.drop(columns=['Average Stats'])
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense
0      1              Bulbasaur    Grass  Poison  45      49       49  \
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [58]:
# Re add with another way

# : means all row
df['Average Stats'] = df.iloc[:,4:10].sum(axis=1) / 6
df.sort_values(['Average Stats'], ascending=0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Average Stats
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,130.000000
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,130.000000
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,130.000000
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,128.333333
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,128.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,32.500000
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False,32.500000
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False,32.333333
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,31.666667
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,30.000000

In [61]:
# Re arrange columns

cols = list(df.columns.values)

df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(10)

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,53.000000,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,67.500000,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,87.500000,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,104.166667,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,51.500000,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,1,False,67.500000,58,64,58,80,65,80
6,6,Charizard,Fire,Flying,1,False,89.000000,78,84,78,109,85,100
7,6,CharizardMega Charizard X,Fire,Dragon,1,False,105.666667,78,130,111,130,85,100
8,6,CharizardMega Charizard Y,Fire,Flying,1,False,105.666667,78,104,78,159,115,100
9,7,Squirtle,Water,NaN,1,False,52.333333,44,48,65,50,64,43

## Filtering

In [75]:
new_df = df.loc[(df['Type 1'] == "Fire") & (df['Average Stats'] >= 100)].sort_values(['Average Stats'])
new_df = new_df.reset_index()
new_df

,index,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,542,485,Heatran,Fire,Steel,4,True,100.000000,91,90,106,130,106,77
1,799,721,Volcanion,Fire,Water,6,True,100.000000,80,110,120,130,90,70
2,279,257,BlazikenMega Blaziken,Fire,Fighting,3,False,105.000000,80,160,80,130,80,100
3,7,6,CharizardMega Charizard X,Fire,Dragon,1,False,105.666667,78,130,111,130,85,100
4,8,6,CharizardMega Charizard Y,Fire,Flying,1,False,105.666667,78,104,78,159,115,100
5,270,250,Ho-oh,Fire,Flying,2,True,113.333333,106,130,90,110,154,90

In [76]:
df.loc[~df['Name'].str.contains("Mega")]

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,53.000000,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,67.500000,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,87.500000,80,82,83,100,100,80
4,4,Charmander,Fire,NaN,1,False,51.500000,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,1,False,67.500000,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,6,True,100.000000,108,100,121,81,95,95
795,719,Diancie,Rock,Fairy,6,True,100.000000,50,100,150,100,150,50
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,100.000000,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,113.333333,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,True,100.000000,80,110,120,130,90,70

In [84]:
# Using regex
import re

# ^ means all that starts with c
# re.I means ignore upper/lower case
df.loc[df["Name"].str.contains('^c[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
4,4,Charmander,Fire,NaN,1,False,51.500000,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,1,False,67.500000,58,64,58,80,65,80
6,6,Charizard,Fire,Flying,1,False,89.000000,78,84,78,109,85,100
7,6,CharizardMega Charizard X,Fire,Dragon,1,False,105.666667,78,130,111,130,85,100
8,6,CharizardMega Charizard Y,Fire,Flying,1,False,105.666667,78,104,78,159,115,100
13,10,Caterpie,Bug,NaN,1,False,32.500000,45,30,35,20,20,45
40,35,Clefairy,Fairy,NaN,1,False,53.833333,70,45,48,60,65,35
41,36,Clefable,Fairy,NaN,1,False,80.500000,95,70,73,95,90,60
98,91,Cloyster,Water,Ice,1,False,87.500000,50,95,180,85,45,70
112,104,Cubone,Ground,NaN,1,False,53.333333,50,50,95,40,50,35
121,113,Chansey,Normal,NaN,1,False,75.000000,250,5,5,35,105,50
166,152,Chikorita,Grass,NaN,2,False,53.000000,45,49,65,49,65,45
169,155,Cyndaquil,Fire,NaN,2,False,51.500000,39,52,43,60,50,65
173,159,Croconaw,Water,NaN,2,False,67.500000,65,80,80,59,63,58
183,169,Crobat,Poison,Flying,2,False,89.166667,85,90,80,70,80,130
184,170,Chinchou,Water,Electric,2,False,55.000000,75,38,38,56,56,67
187,173,Cleffa,Fairy,NaN,2,False,36.333333,50,25,28,45,55,15
240,222,Corsola,Water,Rock,2,False,63.333333,55,55,85,65,85,35
271,251,Celebi,Psychic,Grass,2,False,100.000000,100,100,100,100,100,100
277,256,Combusken,Fire,Fighting,3,False,67.500000,60,85,60,85,60,55
291,268,Cascoon,Bug,NaN,3,False,34.166667,50,35,55,25,25,15
347,318,Carvanha,Water,Dark,3,False,50.833333,45,90,20,65,20,65
353,323,Camerupt,Fire,Ground,3,False,76.666667,70,100,70,105,75,40
354,323,CameruptMega Camerupt,Fire,Ground,3,False,93.333333,70,120,100,145,105,20
362,331,Cacnea,Grass,NaN,3,False,55.833333,50,85,40,85,40,35
363,332,Cacturne,Grass,Dark,3,False,79.166667,70,115,60,115,60,55
373,341,Corphish,Water,NaN,3,False,51.333333,43,80,65,50,35,35
374,342,Crawdaunt,Water,Dark,3,False,78.000000,63,120,85,90,55,55
376,344,Claydol,Ground,Psychic,3,False,83.333333,60,70,105,70,120,75
378,346,Cradily,Rock,Grass,3,False,82.500000,86,81,97,81,107,43
383,351,Castform,Normal,NaN,3,False,70.000000,70,70,70,70,70,70
391,358,Chimecho,Psychic,NaN,3,False,70.833333,65,50,70,95,80,65
401,366,Clamperl,Water,NaN,3,False,57.500000,35,64,85,74,55,32
435,390,Chimchar,Fire,NaN,4,False,51.500000,44,58,44,58,44,61
453,408,Cranidos,Rock,NaN,4,False,58.333333,67,125,40,30,30,58
462,415,Combee,Bug,Flying,4,False,40.666667,30,30,42,30,42,70
467,420,Cherubi,Grass,NaN,4,False,45.833333,45,35,45,62,53,35
468,421,Cherrim,Grass,NaN,4,False,75.000000,70,60,70,87,78,85
481,433,Chingling,Psychic,NaN,4,False,47.500000,45,30,50,65,50,45
489,441,Chatot,Normal,Flying,4,False,68.500000,76,65,45,92,42,91
503,453,Croagunk,Poison,Fighting,4,False,50.000000,48,61,40,61,40,50
505,455,Carnivine,Grass,NaN,4,False,75.666667,74,100,72,90,72,46
546,488,Cresselia,Psychic,NaN,4,False,100.000000,120,70,120,75,130,85
594,534,Conkeldurr,Fighting,NaN,5,False,84.166667,105,140,95,55,65,45
606,546,Cottonee,Grass,Fairy,5,False,46.666667,40,27,60,37,50,66
619,558,Crustle,Bug,Rock,5,False,79.166667,70,95,125,65,75,45
624,563,Cofagrigus,Ghost,NaN,5,False,80.500000,58,50,145,95,105,30
626,565,Carracosta,Water,Rock,5,False,82.500000,74,108,133,83,65,32
634,573,Cinccino,Normal,NaN,5,False,78.333333,75,95,60,65,60,115
670,609,Chandelure,Ghost,Fire,5,False,86.666667,60,55,90,145,90,80
674,613,Cubchoo,Ice,NaN,5,False,50.833333,55,70,40,60,40,40
676,615,Cryogonal,Ice,NaN,5,False,80.833333,70,50,30,95,135,105
699,638,Cobalion,Steel,Fighting,5,True,96.666667,91,90,129,90,72,108
718,650,Chespin,Grass,NaN,6,False,52.166667,56,61,65,48,45,38
720,652,Chesnaught,Grass,Fighting,6,False,88.333333,88,107,122,74,75,64
762,692,Clauncher,Water,NaN,6,False,55.000000,50,53,62,58,63,44
763,693,Clawitzer,Water,NaN,6,False,83.333333,71,73,88,120,89,59
773,703,Carbink,Rock,Fairy,6,False,83.333333,50,50,150,50,150,50

In [85]:
#Regex == false means literal expression
df.loc[df["Name"].str.contains('Charizard', flags=re.I, regex=False)]

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
6,6,Charizard,Fire,Flying,1,False,89.000000,78,84,78,109,85,100
7,6,CharizardMega Charizard X,Fire,Dragon,1,False,105.666667,78,130,111,130,85,100
8,6,CharizardMega Charizard Y,Fire,Flying,1,False,105.666667,78,104,78,159,115,100

## Conditional Changes

In [88]:
# Say we want to change Flying to Aerial

# Means set every type 2 that has type 2 == flying to aerial
df.loc[df["Type 2"] == "Flying", 'Type 2'] = "Aerial"

df.loc[df["Name"].str.contains('Charizard', flags=re.I, regex=False)]

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
6,6,Charizard,Fire,Aerial,1,False,89.000000,78,84,78,109,85,100
7,6,CharizardMega Charizard X,Fire,Dragon,1,False,105.666667,78,130,111,130,85,100
8,6,CharizardMega Charizard Y,Fire,Aerial,1,False,105.666667,78,104,78,159,115,100

In [92]:
df['Great'] = False
df.loc[df['Average Stats'] >= 115, "Great"] = True

df.loc[df["Great"] == True]

,#,Name,Type 1,Type 2,Generation,Legendary,Average Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Great
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,1,True,130.000000,106,190,100,154,100,130,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,1,True,130.000000,106,150,70,194,120,140,True
268,248,TyranitarMega Tyranitar,Rock,Dark,2,False,116.666667,100,164,150,95,120,71,True
409,373,SalamenceMega Salamence,Dragon,Aerial,3,False,116.666667,95,145,130,120,90,120,True
413,376,MetagrossMega Metagross,Steel,Psychic,3,False,116.666667,80,145,150,105,110,110,True
418,380,LatiasMega Latias,Dragon,Psychic,3,True,116.666667,80,100,120,140,150,110,True
420,381,LatiosMega Latios,Dragon,Psychic,3,True,116.666667,80,130,100,160,120,110,True
422,382,KyogrePrimal Kyogre,Water,NaN,3,True,128.333333,100,150,90,180,160,90,True
424,383,GroudonPrimal Groudon,Ground,Fire,3,True,128.333333,100,180,160,150,90,90,True
426,384,RayquazaMega Rayquaza,Dragon,Aerial,3,True,130.000000,105,180,100,180,100,115,True
494,445,GarchompMega Garchomp,Dragon,Ground,4,False,116.666667,108,170,115,120,95,92,True
552,493,Arceus,Normal,NaN,4,True,120.000000,120,120,120,120,120,120,True
711,646,KyuremBlack Kyurem,Dragon,Ice,5,True,116.666667,125,170,100,120,90,95,True
712,646,KyuremWhite Kyurem,Dragon,Ice,5,True,116.666667,125,120,90,170,100,95,True
796,719,DiancieMega Diancie,Rock,Fairy,6,True,116.666667,50,160,110,160,110,110,True

3